<!DOCTYPE html>
<html xmlns:th = http//www.thymeleaf.org>
<body>
<footer th:fragment="footer" class="container-fluid p-5 bg-danger text-white">
		<div class="row">
            <div class="col-md-4 col-lg-4 mb-4">
				<img src="images/logofooter.svg"
                
					alt="Logo de la Facultad" 
					class="d-inline-block align-text-top me-2">
				<div>
					<h2 class="display-5">Facultad de Derecho y Ciencias Sociales</h2>
					<p class="small">Más de 80 años junto a vos</p>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 mb-4">
				<h5>Direccion Edificio 25 de Mayo 471 (Casa Remis)
                    y Edificio 25 de Mayo 456 </h5>
                <address>
                4300153 - 4220951 - 4220934 - 4212400 <br>
                4215122 - 4221165 - 4215075 - 4220950
			    </address>
        </div>

			<div class="col-md-4 col-lg-4 mb-4">
				<h5>Direccion Edificio Quinta Agronómica
                    Avenida Néstor Kirchner 1890</h5>
                <address>
                4365528
                </address>
                <div class="col-md-4 col-lg-4 mb-4">
                <h5>Direccion Edificio Muñecas 438</h5>
                <address>
                4219975 - 4223766 <br>
                <h5>Edificio Práctica Tribunalicia - Las Heras 440</h5>
                4557273
                </address>
                </div>
				
			</div>

			
		</div>
		<div class="row">
			<div class="col-12 py-4 my-4  text-center">
				<p class="mb-0 text-center">&copy; 2024 Facultad de Derecho y Ciencias Sociales
					. Todos los derechos reservados.</p>
			</div>
		</div>
	</footer>
</body>
</html>