<!DOCTYPE html>
<html xmlns:th = http//www.thymeleaf.org>
<body>
<header th:fragment="header" class="bg-danger text-white py-3">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href=""> <img src="images/logosuperior.svg"
						alt="Logo de la Facultad de Derecho" class="d-inline-block align-text-top me-2">
					</a>
					<div>
						<h1 >Universidad Nacional de Tucumán</h1>
						<p>Mas de 80 Años junto a vos</p>
					</div>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end"
						id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="index">Inicio</a></li>
							<li class="nav-item"><a class="nav-link" href="#acerca-de">Acerca
									de</a></li>
							<li class="nav-item"><a class="nav-link" href="#noticias">Noticias</a></li>
							<li class="nav-item"><a class="nav-link"
								href="https://www.derecho.unt.edu.ar/contacto.php">Contacto</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/alumno}">Alumnos</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/carrera}">Carreras</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/docente}">Docentes</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/materia}">Materias</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
</body>
</html>